nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
    margin-right: 20px;
}

body{
    margin: 0;
    background-image: url(image/pattern.jpg);
    
}

h1{
    text-align: center;
}

main{
    
    margin: 70px 100px 20px 100px;
    padding: 10px 10px 0 10px;
    background-color: rgb(252, 251, 249);
}

article{
    margin-top: 10px;
    border-bottom: 1px solid black;
}

footer{
    background-color: black;
    padding: 10px;
    width: 100%;
}

footer p{
    color: white;
    text-align: center;
}