<h1>Buat Account Baru!</h1>
<h3>Sign Up Form</h3>
<form action="welcome.html" method="POST">
<p>First Name</p>
<input type="text" name="">
<p>Last Name</p>
<input type="text">
<p>Gender :</p>
<input type="radio" name="Male" id="Male">Male
<br>
<input type="radio" name="Female" id="Female">Fenale
<br>
<input type="radio" name="Other" id="Other">Other
<br>
<p>Nationality :</p>
<select name="Nation" id="">
<option value="Indonesia">Indonesia</option>
<option value="Singapura">Singapura</option>
<option value="Malaysia">Malaysia</option>
<option value="Thailand">Thailand</option>
</select>
<p>Languange Spoken :</p>

<input type="checkbox" name="Bahasa Indonesia" id="Bahasa Indonesia">Bahasa Indonesia
<br>
<input type="checkbox" name="English" id="English">English
<br>
<input type="checkbox" name="Other" id="Other">Other
<br>
<p>Bio :</p>
<textarea name="message" id="" cols="30" rows="10"></textarea>
<br>

<input type="submit" name="submit" value="Sign Up">

</form>