<h1>Sanber Book</h1>
<h2>Sosial Media Developer Santai Berkualitas</h2>
<p>Belajar dan Berbagi agar hidup ini semakin santai berkualitas</p>
<h3>Benefit Join di Sanber Book</h3>
<ul>
    <li>Mendapat motivasi dari sesama developer</li>
    <li>Sharing Knowledge dari para mastah Sanber</li>
    <li>Dibuat oleh calon web developer terbaik</li>
</ul>
<h3>Cara Bergabung ke Sanber Book</h3>
<ol>
    <li>Mengunjungi Website ini</li>
    <li>Mendaftar di <a href="form.html">Sign Up</a> </li>
    <li>Selesai</li>
</ol>